body
{
	background-image: linear-gradient(to right, #0d0b24, #002843, #00445d, #00626b, #007f6e, #318559, #578840, #7e8827, #967119, #a55825, #a83f3b, #9e2d54);
	font-family: cursive;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
h4,span,label{
	color: orange;
}